@font-face {
  font-family: "SilkaRegular";
  src: url("../fonts/silka/silka-regular-webfont.eot");
  src: url("../fonts/silka/silka-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-regular-webfont.woff") format("woff"),
    url("../fonts/silka/silka-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SilkaMedium";
  src: url("../fonts/silka/silka-medium-webfont.eot");
  src: url("../fonts/silka/silka-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-medium-webfont.woff") format("woff"),
    url("../fonts/silka/silka-medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SilkaBold";
  src: url("../fonts/silka/silka-bold-webfont.eot");
  src: url("../fonts/silka/silka-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-bold-webfont.woff") format("woff"),
    url("../fonts/silka/silka-bold-webfont.ttf") format("truetype");
}

// Fonts

$SilkaRegular: "SilkaRegular", Arial, sans-serif;
$SilkaMedium: "SilkaMedium", Arial, sans-serif;
$SilkaBold: "SilkaBold", Arial, sans-serif;

// Colors

$color: #3c3750;

// Nav height

$NavHeight: 136px;

// Variables
$OverlayImg: 150px;
$FullImgHeight: 80vh;

* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $SilkaRegular;
  font-size: 16px;
}

$barWidth: 33.3333333vw;
@mixin slidein {
  -webkit-animation: slideIn;
  -moz-animation: slideIn;
  animation: slideIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

@mixin slideOut {
  -webkit-animation: slideOut;
  -moz-animation: slideOut;
  animation: slideOut;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.lxs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #ffffff;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  .in {
    position: relative;
    z-index: 99;
    span {
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      opacity: 0;
      position: relative;
      color: #ffffff;
      -webkit-animation: fadeIn;
      -moz-animation: fadeIn;
      animation: fadeIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2s;
    }
  }
  .ba {
    width: $barWidth;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #111111;
    z-index: 2;
    z-index: 1;
    height: 0vh;
    @include slidein;
    animation-delay: 0.2s;
    &:before {
      content: "";
      width: $barWidth;
      left: $barWidth;
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      @include slidein;
      animation-delay: 0.1s;
    }
    &:after {
      content: "";
      width: $barWidth;
      left: calc(#{$barWidth}* 2);
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      @include slidein;
    }
  }
}

@keyframes slideIn {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.ready {
  pointer-events: none;
  background: none;
  .in {
    span {
      opacity: 1;
      -webkit-animation: fadeOut;
      -moz-animation: fadeOut;
      animation: fadeOut;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2s;
    }
  }
  .ba {
    bottom: initial;
    top: 0;
    height: 100vh;
    @include slideOut;
    animation-delay: 0.6s;
    &:before {
      bottom: initial;
      top: 0;
      height: 100vh;
      @include slideOut;
      animation-delay: 0.7s;
    }
    &:after {
      bottom: initial;
      top: 0;
      height: 100vh;
      @include slideOut;
      animation-delay: 0.8s;
    }
  }
}

@keyframes slideOut {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -30px;
  }
}

@for $i from 1 through 10 {
  .lxs {
    .in {
      span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
}

// Navigation

.actv {
  .branding {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 1.2s;
  }
  .main_nav {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 1.6s;
  }
}

nav {
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 55;
  .branding {
    position: relative;
    top: -30px;
    opacity: 0;
    padding: 0px 15px;
  }
  .row {
    min-height: 120px;
    .main_nav {
      position: relative;
      top: -30px;
      opacity: 0;
      ul {
        margin: 0 -20px;
        padding: 0px 15px;
        list-style: none;
        display: flex;
        li {
          padding: 0px 10px;
          margin: 0px 10px;
          a {
            font-size: 16px;
            line-height: 42px;
            color: $color;
          }
        }
      }
    }
  }
}

// Homepage intro
.in_h {
  width: 100vw;
  .int {
    padding-top: 210px;
    span {
      display: block;
      overflow: hidden;
      p {
        font-size: 52px;
        color: $color;
        font-weight: 700;
        position: relative;
        top: 80px;
        margin: 0px;
        font-family: $SilkaBold;
        b {
          font-family: $SilkaBold;
          font-size: 52px;
          -moz-text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
          -moz-text-stroke-color: $color;
          -webkit-text-stroke-color: $color;
          -moz-text-stroke-width: 2px;
          -webkit-text-stroke-width: 2px;
        }
      }
    }
  }
}

.acv {
  span {
    p {
      -webkit-animation: slidesIn;
      -moz-animation: slidesIn;
      animation: slidesIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.3s;
      -moz-animation-duration: 1.3s;
      animation-duration: 1.3s;
      animation-delay: 1.3s;
    }
  }
}

@keyframes slidesIn {
  0% {
    top: 80px;
  }
  100% {
    top: 0px;
  }
}

@for $i from 1 through 10 {
  .int {
    span:nth-child(#{$i}n) p {
      animation-delay: #{$i * 0.3}s;
    }
  }
}

.int__p {
  padding-top: 34px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: $color;
    opacity: 0.75;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background: #ffffff;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   background: $color;
    //   height: 100%;
    //   width: 0%;
    //   bottom: 0;
    //   right: 0%;
    //   z-index: 5;
    // }
  }
}

.int__a {
  p {
    &:before {
      -webkit-animation: sfdsIn;
      -moz-animation: sfdsIn;
      animation: sfdsIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
      animation-duration: 0.4s;
      animation-delay: 1.4s;
    }
    &:after {
      -webkit-animation: sfdxIn;
      -moz-animation: sfdxIn;
      animation: sfdxIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 0.6s;
      -moz-animation-duration: 0.6s;
      animation-duration: 0.6s;
      animation-delay: 1.4s;
    }
  }
}

@keyframes sfdsIn {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes sfdxIn {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 00%;
    right: 100%;
  }
}

$proheight: 610px;
.proj {
  padding-top: 100px;
  padding-bottom: 60px;
  .h__proj {
    width: 100%;
    height: $proheight;
    background-size: cover;
    padding: 40px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: #ffffff;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: $color;
      width: 0%;
      height: 100%;
      z-index: 5;
    }
    .inf {
      position: absolute;
      bottom: 40px;
      z-index: 4;
      h3 {
        font-family: $SilkaBold;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 52px;
        color: #ffffff;
      }
      span {
        font-family: $SilkaMedium;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    .im {
      width: 100%;
      min-height: $proheight;
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
      .im_g {
        width: 100%;
        min-height: 610px;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1);
        background-size: cover;
        &:before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.h__vi {
  &:before {
    -webkit-animation: vi;
    -moz-animation: vi;
    animation: vi;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: vix;
    -moz-animation: vix;
    animation: vix;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  .im {
    .im_g {
      -webkit-animation: vimg;
      -moz-animation: vimg;
      animation: vimg;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 30s;
      -moz-animation-duration: 30s;
      animation-duration: 30s;
    }
  }
}

@keyframes vi {
  0% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes vix {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 00%;
    right: 100%;
  }
}

@keyframes vimg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media (max-width: 1196px) {
  .proj .h__proj {
    height: 288px;
    margin: 0px 40px 20px 40px;
  }
  .proj .h__proj .im {
    min-height: 288px;
  }
  .proj .h__proj .im .im_g {
    min-height: 288px;
  }
}
