@font-face {
  font-family: "SilkaRegular";
  src: url("../fonts/silka/silka-regular-webfont.eot");
  src: url("../fonts/silka/silka-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-regular-webfont.woff") format("woff"),
    url("../fonts/silka/silka-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SilkaMedium";
  src: url("../fonts/silka/silka-medium-webfont.eot");
  src: url("../fonts/silka/silka-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-medium-webfont.woff") format("woff"),
    url("../fonts/silka/silka-medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SilkaBold";
  src: url("../fonts/silka/silka-bold-webfont.eot");
  src: url("../fonts/silka/silka-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/silka/silka-bold-webfont.woff") format("woff"),
    url("../fonts/silka/silka-bold-webfont.ttf") format("truetype");
}

// Fonts

$SilkaRegular: "SilkaRegular", Arial, sans-serif;
$SilkaMedium: "SilkaMedium", Arial, sans-serif;
$SilkaBold: "SilkaBold", Arial, sans-serif;

// Colors

$color: #3C3750;

// Nav height

$NavHeight: 136px;

// Variables
$OverlayImg: 150px;
$FullImgHeight: 80vh;

* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $SilkaRegular;
  font-size: 16px;
}

.container {
  max-width: 90vw;
}

$barWidth: 33.3333333vw;
@mixin slidein {
  -webkit-animation: slideIn;
  -moz-animation: slideIn;
  animation: slideIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

@mixin slideOut {
  -webkit-animation: slideOut;
  -moz-animation: slideOut;
  animation: slideOut;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

p a {
  color: $color;
}

.lxs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #ffffff;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  .in {
    position: relative;
    z-index: 99;
    span {
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      opacity: 0;
      position: relative;
      color: #ffffff;
      -webkit-animation: fadeIn;
      -moz-animation: fadeIn;
      animation: fadeIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2s;
    }
  }
  .ba {
    width: $barWidth;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #111111;
    z-index: 2;
    z-index: 1;
    height: 0vh;
    @include slidein;
    animation-delay: 0.2s;
    &:before {
      content: "";
      width: $barWidth;
      left: $barWidth;
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      @include slidein;
      animation-delay: 0.1s;
    }
    &:after {
      content: "";
      width: $barWidth;
      left: calc(#{$barWidth}* 2);
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      @include slidein;
    }
  }
}

.allreadybeen {
  &:before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: #111111;
    position: fixed;
    left: 0;
    top: 0;
    @include slideOut;
    animation-delay: 1s;
  }
}

@keyframes slideIn {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.ready {
  pointer-events: none;
  background: none;
  .in {
    span {
      opacity: 1;
      -webkit-animation: fadeOut;
      -moz-animation: fadeOut;
      animation: fadeOut;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2s;
    }
  }
  .ba {
    bottom: initial;
    top: 0;
    height: 100vh;
    @include slideOut;
    animation-delay: 0.6s;
    &:before {
      bottom: initial;
      top: 0;
      height: 100vh;
      @include slideOut;
      animation-delay: 0.7s;
    }
    &:after {
      bottom: initial;
      top: 0;
      height: 100vh;
      @include slideOut;
      animation-delay: 0.8s;
    }
  }
}

@keyframes slideOut {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -30px;
  }
}

@for $i from 1 through 10 {
  .lxs {
    .in {
      span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
}

// Navigation

.actv {
  .branding {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 1.2s;
  }
  .main_nav {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 1.6s;
  }
}

.actvp {
  .branding {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
  }
  .main_nav {
    -webkit-animation: fadeIn;
    -moz-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
  }
}

nav {
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 55;
  background: #ffffff;
  .branding {
    position: relative;
    top: -30px;
    opacity: 0;
    padding: 0px 15px;
  }
  .row {
    min-height: 120px;
    .main_nav {
      position: relative;
      top: -30px;
      opacity: 0;
      ul {
        margin: 0 -20px;
        padding: 0px 15px;
        list-style: none;
        display: flex;
        li {
          padding: 0px 10px;
          margin: 0px 10px;
          a {
            font-size: 16px;
            line-height: 42px;
            color: $color;
          }
        }
      }
    }
  }
}

.nav-up {
  top: -120px;
  transition-duration: 0.4s;
}

.nav-down {
  top: 0px;
  transition-duration: 0.4s;
}

// Homepage intro
.in_h {
  width: 100vw;
  .int {
    padding-top: 210px;
    span {
      display: block;
      overflow: hidden;
      p {
        font-size: 52px;
        color: $color;
        font-weight: 700;
        position: relative;
        top: 80px;
        margin: 0px;
        font-family: $SilkaBold;
        b {
          font-family: $SilkaBold;
          font-size: 52px;
          -moz-text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
          -moz-text-stroke-color: $color;
          -webkit-text-stroke-color: $color;
          -moz-text-stroke-width: 2px;
          -webkit-text-stroke-width: 2px;
        }
      }
    }
  }
}

.acv {
  span {
    p {
      -webkit-animation: slidesIn;
      -moz-animation: slidesIn;
      animation: slidesIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.3s;
      -moz-animation-duration: 1.3s;
      animation-duration: 1.3s;
      animation-delay: 1.3s;
    }
  }
}

@keyframes slidesIn {
  0% {
    top: 80px;
  }
  100% {
    top: 0px;
  }
}

@for $i from 1 through 10 {
  .int {
    span:nth-child(#{$i}n) p {
      animation-delay: #{$i * 0.3}s;
    }
  }
}

.int__p {
  padding-top: 34px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: $color;
    opacity: 0.75;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background: #ffffff;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   background: $color;
    //   height: 100%;
    //   width: 0%;
    //   bottom: 0;
    //   right: 0%;
    //   z-index: 5;
    // }
  }
}

.int__a {
  p {
    &:before {
      -webkit-animation: sfdsIn;
      -moz-animation: sfdsIn;
      animation: sfdsIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
      animation-duration: 0.4s;
      animation-delay: 1.4s;
    }
    &:after {
      -webkit-animation: sfdxIn;
      -moz-animation: sfdxIn;
      animation: sfdxIn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 0.6s;
      -moz-animation-duration: 0.6s;
      animation-duration: 0.6s;
      animation-delay: 1.4s;
    }
  }
}

@keyframes sfdsIn {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes sfdxIn {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 00%;
    right: 100%;
  }
}

$proheight: 610px;
.proj {
  padding-top: 100px;
  padding-bottom: 60px;
  .h__proj {
    width: 100%;
    height: $proheight;
    background-size: cover;
    padding: 40px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: #ffffff;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: $color;
      width: 0%;
      height: 100%;
      z-index: 5;
    }
    .inf {
      position: absolute;
      bottom: 40px;
      z-index: 4;
      h3 {
        font-family: $SilkaBold;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 52px;
        color: #ffffff;
        position: relative;
      }
      span {
        font-family: $SilkaMedium;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    .im {
      width: 100%;
      min-height: $proheight;
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.h__vi {
  &:before {
    -webkit-animation: vi;
    -moz-animation: vi;
    animation: vi;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: vix;
    -moz-animation: vix;
    animation: vix;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

@keyframes vi {
  0% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes vix {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 00%;
    right: 100%;
  }
}

@keyframes vimg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

// Footer

footer {
  .cntx {
    span {
      overflow: hidden;
      display: block;
      p {
        font-family: $SilkaBold;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        color: $color;
        position: relative;
        top: 80px;
      }
    }
  }
}

.fo-change {
  .cntx {
    span {
      p {
        -webkit-animation: foch;
        -moz-animation: foch;
        animation: foch;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
      }
    }
  }
}

@for $i from 1 through 10 {
  footer {
    padding-bottom: 66px;
    .cntx {
      span:nth-child(#{$i}n) {
        p {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }
  }
}

@keyframes foch {
  0% {
    top: 80px;
  }
  100% {
    top: 0px;
  }
}

.cntc {
  margin-top: 30px;
  margin-bottom: 30px;
  span {
    display: block;
  }
  .s-t {
    p {
      padding: 10px 0px;
      display: block;
      border-bottom: 1px solid #ffffff;
      font-family: $SilkaMedium;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #cecece;
      margin: 0;
      padding-right: 60px;
      display: initial;
      position: relative;
      transition-duration: 2s;
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background: #cecece;
        z-index: 8;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 2;
      }
    }
  }
  a {
    margin-top: 10px;
    font-family: $SilkaMedium;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: $color;
    position: relative;
    display: inline-block;
    padding: 10px 0px;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: $color;
      z-index: 8;
      animation-delay: 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 2;
      animation-delay: 0.3s;
    }
  }
}

.fo-change {
  .s-t {
    p {
      transition-duration: 2s;
      border-bottom: 1px solid #cecece;
      &:after {
        -webkit-animation: rev;
        -moz-animation: rev;
        animation: rev;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
      }
      &:before {
        -webkit-animation: rev;
        -moz-animation: rev;
        animation: rev;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
      }
    }
    a {
      &:after {
        -webkit-animation: rev;
        -moz-animation: rev;
        animation: rev;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
        animation-delay: 0.3s;
      }
      &:before {
        -webkit-animation: rev;
        -moz-animation: rev;
        animation: rev;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
        animation-delay: 0.3s;
      }
    }
  }
}

@keyframes rev {
  0% {
    right: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

footer {
  .soc {
    a {
      font-family: $SilkaMedium;
      font-size: 16px;
      color: $color;
      margin-left: 60px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background: $color;
        z-index: 8;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 2;
      }
    }
  }
}

.fo-change {
  .soc {
    a {
      &:after {
        -webkit-animation: revxx;
        -moz-animation: revxx;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1.1s;
        -moz-animation-duration: 1.1s;
        animation-duration: 1.1s;
      }
      &:before {
        -webkit-animation: revx;
        -moz-animation: revx;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        animation-duration: 0.8s;
      }
    }
  }
}

@keyframes revx {
  0% {
    top: 0;
    height: 0%;
  }
  50% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0;
    top: 100%;
  }
}

@keyframes revxx {
  0% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0;
    top: 100%;
  }
}

@for $i from 1 through 10 {
  footer {
    padding-bottom: 66px;
    .soc {
      a:nth-child(#{$i}n) {
        &:before {
          animation-delay: #{$i * 0.3}s;
        }
        &:after {
          animation-delay: #{$i * 0.3}s;
        }
      }
    }
  }
}

.lxss {
  position: fixed;
  z-index: 8888;
  width: 100%;
  height: 100vh;
  top: 0;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  .br {
    width: $barWidth;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #111111;
    z-index: 2;
    z-index: 1;
    height: 0vh;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    &:before {
      content: "";
      width: $barWidth;
      left: $barWidth;
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
    }
    &:after {
      content: "";
      width: $barWidth;
      left: calc(#{$barWidth}* 2);
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      z-index: 1;
      height: 0vh;
      transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
    }
  }
}

.load {
  .br {
    height: 100vh;
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    &:before {
      height: 100vh;
      transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
    }
    &:after {
      height: 100vh;
      transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
    }
  }
}

@mixin barOut {
  -webkit-animation: barOut;
  -moz-animation: barOut;
  animation: barOut;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.lxp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  .ba {
    width: $barWidth;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #111111;
    z-index: 2;
    height: 100vh;
    @include barOut;
    &:before {
      content: "";
      width: $barWidth;
      left: $barWidth;
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      height: 100vh;
      @include barOut;
      animation-delay: 0.1s;
    }
    &:after {
      content: "";
      width: $barWidth;
      height: 100vh;
      left: calc(#{$barWidth}* 2);
      bottom: 0;
      position: absolute;
      background: #111111;
      z-index: 2;
      @include barOut;
      animation-delay: 0.2s;
    }
  }
}

@keyframes fadeInP {
  0% {
    opacity: 0;
    top: -30px;
  }
  20% {
    opacity: 1;
    top: 0;
  }
  80% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -30px;
  }
}

@keyframes fadeOutP {
  0% {
    opacity: 0;
    top: -30px;
  }
  20% {
    opacity: 1;
    top: 0;
  }
  80% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -30px;
  }
}

@keyframes barOut {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@for $i from 1 through 10 {
  .lxp {
    .in {
      span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
}

.lxp {
  .in {
    span:nth-child(n + 2) {
      text-transform: lowercase;
    }
  }
}

// Full img

.f_img {
  margin: 65px;
  max-width: 100%;
  height: 610px;
  position: relative;
  overflow: hidden;
  .th_img {
    width: 100%;
    height: calc(100% + 100px);
    position: absolute;
    bottom: -100px;
    left: 0;
    overflow: hidden;
    left: 0px;
    background-size: cover;
    &:before {
      content: "";
      height: 100%;
      width: 0%;
      position: absolute;
      right: 0;
      top: 0;
      background: $color;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: #ffffff;
    }
  }
}

.imgv {
  bottom:0px !important;
}

.th_img_vi {
  &:before {
    -webkit-animation: fuImg;
    -moz-animation: fuImg;
    animation: fuImg;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: fuImgx;
    -moz-animation: fuImgx;
    animation: fuImgx;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

@keyframes fuImgx {
  0% {
    width: 100%;
    right: 0%;
  }
  50% {
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes fuImg {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes vimg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.f_p {
  margin-bottom: 80px;
  p {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $color;
    opacity: 0.75;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #ffffff;
      position: absolute;
    }
  }
}

.p_s {
  &:before {
    width: 0% !important;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}

// CV

.cv {
  margin-bottom: 80px;
  h3 {
    font-weight: bold;
    font-size: 46px;
    color: $color;
    font-family: $SilkaBold;
    position: relative;
    &:before {
      content: "";
      width: 0%;
      height: 100%;
      background: $color;
      position: absolute;
      z-index: 2;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      background: #ffffff;
      z-index: 1;
    }
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
    color: $color;
    font-family: $SilkaBold;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: $color;
    opacity: 0.75;
  }
  .item {
    position: relative;
    &:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #ffffff;
      position: absolute;
      z-index: 2;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;
      background: #ffffff;
      z-index: 1;
    }
  }
}

.cv_hb_s {
  &:before {
    -webkit-animation: ref;
    -moz-animation: ref;
    animation: ref;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: refx;
    -moz-animation: refx;
    animation: refx;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

.cv_h_s {
  &:before {
    -webkit-animation: ref;
    -moz-animation: ref;
    animation: ref;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: refx;
    -moz-animation: refx;
    animation: refx;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

.cv_p_s {
  &:before {
    -webkit-animation: ref;
    -moz-animation: ref;
    animation: ref;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
  &:after {
    -webkit-animation: refx;
    -moz-animation: refx;
    animation: refx;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

@keyframes ref {
  0% {
    width: 0%;
    right: 0%;
  }
  50% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

@keyframes refx {
  0% {
    width: 100%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}

// Case study

.in_h {
  .inf {
    padding-top: 34px;
    h4 {
      font-size: 16px;
      color: $color;
      font-family: $SilkaBold;
      position: relative;
      &:before {
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        transition-delay: 1.7s;
      }
    }
    span {
      padding-bottom: 16px;
      display: block;
      position: relative;
      &:before {
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        transition-delay: 1.7s;
      }
    }
  }
}

.carrousel {
  width: 130vw;
  margin: 60px -15px;
  position: relative;
  .slide {
    height: 610px;
    margin: 0px 15px;
    .img {
      min-width: 100%;
      min-height: calc(100% + 100px);
      position: absolute;
      left: 0;
      bottom: -100px;
      background-size: cover;
      background-position: center center;
    }
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    z-index: 2;
  }
}
.crs {
  overflow: hidden;
  .cr {
    position: relative;
    .carrousel_v {
      &:before {
        width: 0%;
        transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
      }
    }
    .nxt {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 56px;
      height: 56px;
      background: $color;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.slick-slide {
  outline: none;
}

.slick-slide {
  margin-left: 60px;
  position: relative;
  transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  &:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.slick-active {
  margin-left: 30px;
  transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  &:before {
    -webkit-animation: ref;
    -moz-animation: ref;
    animation: ref;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

$proheight: 610px;
.proj_p {
  padding-bottom: 60px;
  h2 {
    font-family: $SilkaBold;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: #ffffff;
      left: 0px;
      top: 0;
    }
  }
  .h__proj_p {
    width: 100%;
    height: $proheight;
    background-size: cover;
    padding: 40px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: #ffffff;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0px;
      background: $color;
      width: 0%;
      height: 100%;
      z-index: 5;
    }
    .inf {
      position: absolute;
      bottom: 40px;
      z-index: 4;
      h3 {
        font-family: $SilkaBold;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 52px;
        color: #ffffff;
      }
      span {
        font-family: $SilkaMedium;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    .im {
      width: 100%;
      min-height: $proheight;
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.im_g {
  width: 100%;
  min-height: calc(100% + 100px);
  position: absolute;
  bottom: -100px;
  left: 0;
  background-size: cover;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}
.h__vi_p {
  &:after {
    -webkit-animation: ref;
    -moz-animation: ref;
    animation: ref;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }
  &:before {
    -webkit-animation: refx;
    -moz-animation: refx;
    animation: refx;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }
}

.fwc {
  h2 {
    font-family: $SilkaBold;
    font-size: 46px;
    color: $color;
    position: relative;
    display: inline;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background: #ffffff;
    }
  }
}

.is_v {
  &:before {
    width: 0% !important;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
  }
}

@media (max-width: 1196px) {
  .proj .h__proj {
    height: 288px;
    margin: 0px 15px 20px 15px;
  }
  .proj .h__proj .im {
    min-height: 288px;
  }
  .proj .h__proj .im .im_g {
    min-height: 288px;
  }
  .in_h .int span p {
    font-size: 28px;
    line-height: 46px;
    b {
      font-size: 28px;
      line-height: 46px;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-stroke-color: $color;
      -webkit-text-stroke-color: $color;
      -moz-text-stroke-width: 1px;
      -webkit-text-stroke-width: 1px;
    }
  }
  .int__p p {
    font-size: 16px;
    line-height: 28px;
  }
  .proj .h__proj .inf h3 {
    font-size: 24px;
  }
}

.im_ga {
  bottom: 0px;
}

.imgb {
  min-width: 100%;
  min-height: calc(100% + 100px);
  position: absolute;
  left: 0;
  bottom: 0px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
}
